/* Error: Undefined mixin.
 *     ,
 * 129 | / @include breakpoint("<=medium") {
 * 130 | |   .medium-gone {
 * 131 | |     display: none;
 * 132 | |   }
 * 133 | \ }
 *     '
 *   assets/sass/derrick.scss 129:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a     \2577 \a 129 \2502  \250c  @include breakpoint("<=medium") {\a 130 \2502  \2502    .medium-gone {\a 131 \2502  \2502      display: none;\a 132 \2502  \2502    }\a 133 \2502  \2514  }\a     \2575 \a   assets/sass/derrick.scss 129:1  root stylesheet';
}
