.black {
  border: 3px solid black;
}

.white {
  border: 1px solid white;
}

.red {
  color: red;
}

.orange {
  border: 1px solid orange;
}

.yellow {
  border: 1px solid yellow;
}

.green {
  border: 5px solid green;
}

.blue {
  border: 3px dotted blue;
}

.purple {
  border: 1px solid purple;
}

@media print {
  #header,
  #footer,
  #sidebar {
    display: none !important;
  }
}

.flex {
  display: flex;
  // justify-content: space-between;
}

.sb {
  justify-content: space-between;
}

.accordion {
  background-color: rgba(230, 235, 237, 0.25);
  // color: #444;
  cursor: pointer;
  padding: 0.69em;
  width: 100%;
  border-top: solid 2px rgba(210, 215, 217, 0.75);
  // text-align: left;
  outline: none;
  // font-size: 15px;
  transition: 0.4s;
}

.lightGrey {
  background-color: white;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.sign:after {
  content: "\002B";
  // color: #777;
  font-weight: bold;
  // float: right;
  // margin-left: 5px;
}

.active span:after {
  content: "\2212";
}

.panel {
  // padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.w20 {
  width: 20%;
}

.w30 {
  width: 30%;
}

#CellWithComment {
  position: relative;
}

#CellComment {
  display: none;
  position: absolute;
  z-index: 100;
  border: 1px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  padding: 3px;
  color: red;
  top: 2.6rem;
  left: 1rem;
  opacity: 0;
  transition: 0.3s;
}

#CellWithComment:hover span#CellComment {
  display: block;
  opacity: 1;
}

.tooltip {
  display: inline;
  position: relative;
}
.tooltip:after {
  content: attr(test);
  position: absolute;
  left: 20%;
  bottom: 24px;
  width: 128px;
  background-color: yellow;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.tooltip:hover:after {
  opacity: 1;
}
